* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: rgb(0, 0, 0);
    margin-left: 450px;
}
.one {
    background-color: rgb(117, 86, 86);
    margin: 0 0 30px 0;
}

.gg {
    font-size: 20px;
    color: brown;
    margin: 0 0 30px 0;
    transition: ease 2s;

}
.gg:hover { 
    color:rgb(11, 11, 54)  
}
.too {
    background-color: firebrick;
}
.tree {
margin-left: 450px;
   rotate: (270deg);
}

body {
    padding: 30px;
}
